@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Estedad';
  src: url('./fonts/Estedad-Thin.woff2');
  font-weight: 100;
}
@font-face {
  font-family: 'Estedad';
  src: url('./fonts/Estedad-ExtraLight.woff2');
  font-weight: 200;
}
@font-face {
  font-family: 'Estedad';
  src: url('./fonts/Estedad-Light.woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Estedat';
  src: url('./fonts/Estedad-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Estedad';
  src: url('./fonts/Estedad-Medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Estedad';
  src: url('./fonts/Estedad-SemiBold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Estedad';
  src: url('./fonts/Estedad-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Estedad';
  src: url('./fonts/Estedad-ExtraBold.woff2');
  font-weight: 800;
}
@font-face {
  font-family: 'Estedad';
  src: url('./fonts/Estedad-Black.woff2');
  font-weight: 900;
}

@layer utilities {
  .activeLink{
    @apply text-primary h5
  }
  .display1 {
    @apply font-bold text-[64px] leading-[140%];
  }
  .display2 {
    @apply font-bold text-[56px] leading-[120%];
  }

  .h1 {
    @apply font-bold text-[44px] leading-[140%] capitalize;
  }
  .h2 {
    @apply font-bold text-[40px] leading-[140%] capitalize;
  }
  .h3 {
    @apply font-bold text-[32px] leading-[140%] capitalize;
  }
  .h4 {
    @apply font-bold text-[24px] leading-[140%] capitalize;
  }
  .h5 {
    @apply font-bold text-[20px] leading-[140%] capitalize;
  }
  .h6 {
    @apply font-bold text-[16px] leading-[140%] capitalize;
  }
  .h7 {
    @apply font-semibold text-[20px] leading-[180%] capitalize;
  }

  .body-xl {
    @apply font-normal text-[20px] leading-[180%] capitalize;
  }
  .body-lg {
    @apply font-normal text-[18px] leading-[180%] capitalize;
  }
  .body-md {
    @apply font-normal text-[16px] leading-[180%] capitalize;
  }
  .body-sm {
    @apply font-normal text-[14px] leading-[180%] capitalize;
  }

  .caption-lg {
    @apply font-normal text-[14px] leading-[180%] capitalize;
  }
  .caption-md {
    @apply font-normal text-[12px] leading-[180%] capitalize;
  }
  .caption-sm {
    @apply font-normal text-[10px] leading-[180%] capitalize;
  }

  .button-lg {
    @apply font-bold text-[16px] leading-[180%] capitalize;
  }
  .button-sm {
    @apply font-medium text-[14px] leading-[24px] capitalize;
  }

  .overline-lg {
    @apply font-medium text-[16px] leading-[24px] capitalize;
  }
  .overline-sm {
    @apply font-bold text-[12px] leading-[21px] tracking-[0.8px];
  }
}

nav[aria-label="Main"] > div{
  width: 133% !important;
}
nav[aria-label="Main"] > div > div{
  border: none !important;
}

.leaflet-container{
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet {
  width: 4px !important;
  height: 4px !important;

  /* Neutral/ADADAD */
  background-color: #000000 !important;
  transform: matrix(-1, 0, 0, 1, 0, 0);

  /* Inside auto layout */
  flex: none;
  /* order: 4;
  flex-grow: 1; */
}
.swiper-pagination-bullet-active {
  width: 8px !important;
  height: 8px !important;
  background-color: #417f56 !important;
  outline: 2px solid #E5F2E9;
  /* box-shadow: 0px 0px 1px 3px #e5f2e9; */
}

@media screen and (min-width: 768px) {
  .swiper-pagination-bullet-active {
    width: 15px !important;
    height: 15px !important;
  }
  .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
  }
}






.loader {
  border: 3px solid; /* Light grey */
  border-top: 3px solid rgba(0, 0, 0, 0); /* Blue */
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.menuMobile > button{
  left: 1em !important;
  display: flex;
  right: unset;
  justify-content: end;
  z-index: 100;
  color: white;
}

.mySwiper .swiper-slide-thumb-active{
  border: 1px solid white;
  width: 72px !important;
  height: 72px !important;
}
.mySwiper .swiper-wrapper{
  display: flex;
  align-items: center;
}
.mySwiper .swiper-slide-thumb-active .transparentDiv{
  z-index: 0 !important;
}
.rmdp-container {
  width: 100%;
}